    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        font-family: 'Varela Round', sans-serif;
    }

    body {
        min-height: 100vh;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-image: linear-gradient(85deg, cyan, blueviolet);
    }

    h1 {
        color: #fff;
        margin-bottom: 8px;
        text-shadow: 1px 1px 5px rgb(110, 67, 150);
    }

    .search-div {
        background-image: linear-gradient(45deg, cyan, blueviolet);
        position: sticky;
        top: 0;
        width: 100%;
        height: 120px;
        padding: 1rem 0;
        box-shadow: 1px 1px 10px rgb(103, 168, 168);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search-div input {
        color: blueviolet;
        padding: 10px 35px;
        border: none;
        outline: none;
        box-shadow: 1px 1px 10px #fff;
    }

    .search-div input::placeholder {
        font-weight: 400;
        opacity: 0.5;
        letter-spacing: 1px;
    }

    .search-div button {
        letter-spacing: 1px;
        background-color: #fff;
        color: blueviolet;
        cursor: pointer;
        padding: 10px 15px;
        border: none;
        outline: none;
        box-shadow: 1px 1px 10px #fff;
    }

    .search-div button:hover,
    .search-div input:hover {
        background-color: #ebe7e7;
    }

    .users-container {
        gap: 25px;
        width: 100%;
        padding: 10px 100px;
        margin: 20px 0 50px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .user {
        box-shadow: 1px 1px 10px rgb(98, 197, 197);
        text-shadow: 1px 1px 10px rgb(98, 197, 197);
        width: 500px;
        height: 300px;
        display: flex;
    }

    .user .left {
        width: 180px;
        max-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 1px dotted #fff;
        text-align: start;
        gap: 15px;
        color: #fff;
    }

    .user .left img {
        width: 140px;
        height: 140px;
        box-shadow: 1px 1px 18px rgb(100, 200, 200);
        overflow: hidden;
        border-radius: 50%;
    }

    .user .right {
        width: 320px;
        max-width: 270px;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        justify-content: center;
        gap: 10px;
        text-align: start;
        color: #fff;
    }

    .boxes {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .followers {
        width: 100%;
        text-align: start;
        padding: 10px 2px;
        box-shadow: 1px 1px 10px rgb(100, 200, 200);
        font-size: 15px;
    }

    .following {
        width: 100%;
        text-align: start;
        padding: 10px 2px;
        box-shadow: 1px 1px 10px rgb(100, 200, 200);
        font-size: 15px;
    }

    b {
        text-shadow: 1px 1px 10px cyan;
        margin-left: 1px;
    }

    .repositories {
        text-align: center;
        box-shadow: 1px 1px 10px rgb(100, 200, 200);
        padding: 10px 2px;
    }

    #visit-github {
        padding: 10px 15px;
        width: 100%;
        text-shadow: 1px 1px 10px cyan;
        text-align: center;
        border: none;
        box-shadow: 1px 1px 10px rgb(100, 200, 200);
        color: #fff;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        transition: 0.2s ease;
    }

    #visit-github:hover {
        box-shadow: 1px 1px 25px rgb(100, 200, 200);
    }

    #des {
        font-size: 14px;
    }

    #name,
    #des,
    #login {
        color: snow;
        text-shadow: 1px 1px 5px cyan;
    }

    @media (max-width:550px) {
        .user-container {
            width: 100%;
        }

        .user {
            width: 350px;
        }

        .user .left {
            width: 120px;
        }

        .user .left img {
            width: 110px;
            height: 110px;
        }

        .user .right {
            width: 215px;
            padding: 0 5px;
        }
    }

    #error {
        box-shadow: 2px 2px 10px cyan;
        width: 500px;
        height: 300px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-shadow: 1px 1px 10px cyan;
    }

   